.main_pole {

	display: inline-block;
	width: 250px;
	margin-top: 50px;
	margin-left: 200px;
	padding: 10px;
	border: black medium solid;
	background-image: radial-gradient( 
	circle farthest-side at left top, rgba(255, 255, 0, 0.5), rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.5));
}
.play_pole {
	width: 170px;
}

#cell_0 {
	float: left;
	width: 15px;
	height: 17px;
	border: solid black thin;
	background-color: white;
}

#cell_1 {
	float: left;
	width: 15px;
	height: 17px;
	border: solid black thin;
	background-color: rgba(255, 0, 0, 0.8);
}

#cell_2 {
	float: left;
	width: 15px;
	height: 17px;
	border: solid black thin;
	background-color: rgba(0, 255, 0, 0.8);
}

#cell_3 {
	float: left;
	width: 15px;
	height: 17px;
	border: solid black thin;
	background-color: rgba(0, 0, 255, 0.8);
}

#cell_4 {
	float: left;
	width: 15px;
	height: 17px;
	border: solid black thin;
	background-color: rgba(255, 255, 0, 0.8);
}

#cell_5 {
	float: left;
	width: 15px;
	height: 17px;
	border: solid black thin;
	background-color: rgba(0, 255, 255, 0.8);
}

#line {
	float: none;
}

.points {
	margin-top: 20px;
	margin-right: 3px;
	float: right;
	font-size: 22pt;
	font-family: 'Ubuntu', sans-serif;
}

#death {
	width: 2000px;
	height: 2000px;
	background-color: red;
}